#aboutme p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-top: 8px; */
    font-size: 17px;
    padding: 21px 0px;
    width: 230px;
}
#aboutme{
   /* width: 35px; */
    padding: 19px 19px;
}
a{
/* position: absolute;  */
margin-left: -45px;
/* display: block; */
    /* margin: auto; */
    /* padding: 0px 10px; */
}